chest.fbx filter=lfs diff=lfs merge=lfs -text
door.fbx filter=lfs diff=lfs merge=lfs -text
duck-large.fbx filter=lfs diff=lfs merge=lfs -text
duck3.fbx filter=lfs diff=lfs merge=lfs -text
key.fbx filter=lfs diff=lfs merge=lfs -text
slendie.fbx filter=lfs diff=lfs merge=lfs -text
