jubilee-darktar-voxels.png filter=lfs diff=lfs merge=lfs -text
jubilee-voxelchaos.png filter=lfs diff=lfs merge=lfs -text
mataleone-depthrender.png filter=lfs diff=lfs merge=lfs -text
recipromancer-wip-notes.png filter=lfs diff=lfs merge=lfs -text
shader1.png filter=lfs diff=lfs merge=lfs -text
ascii-title.png filter=lfs diff=lfs merge=lfs -text
jubilee-voxelify.mp4 filter=lfs diff=lfs merge=lfs -text
jubiliee-voxeldoor.mp4 filter=lfs diff=lfs merge=lfs -text
mataleone-notes.png filter=lfs diff=lfs merge=lfs -text
shader2.png filter=lfs diff=lfs merge=lfs -text
door.png filter=lfs diff=lfs merge=lfs -text
shader4.png filter=lfs diff=lfs merge=lfs -text
shader5.png filter=lfs diff=lfs merge=lfs -text
slenderduck.png filter=lfs diff=lfs merge=lfs -text
underdark-ansi-animation.mov filter=lfs diff=lfs merge=lfs -text
shader3.png filter=lfs diff=lfs merge=lfs -text
shader8.png filter=lfs diff=lfs merge=lfs -text
shader9.png filter=lfs diff=lfs merge=lfs -text
shader6.png filter=lfs diff=lfs merge=lfs -text
shader7.png filter=lfs diff=lfs merge=lfs -text
